In [4]:
import boto3

In [5]:
service_name = "s3"
region_name = "us-east-2"
aws_access_key_id = "AKIAU5AT5CQRYNL5DVMD"
aws_secret_access_key = "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"

In [6]:
def createBucket(s3: boto3.client, Bucket, LocationConstraint):
    response = dict()
    response['status'] = True
    response['result'] = "Successfull"
    response['data'] = None
    try:
        response['data'] = s3.create_bucket(
            Bucket=Bucket,
            CreateBucketConfiguration={
                'LocationConstraint': LocationConstraint,
            }
        )
    except Exception as e:
        response['status'] = True
        response['result'] = e
    return response

In [7]:
def getBuckets(s3: boto3.client):
    response = dict()
    response['status'] = True
    response['result'] = "Successfull"
    response['data'] = None
    try:
        response['data'] = s3.list_buckets()['Buckets']
    except:
        response['status'] = True
        response['result'] = e
    return response

In [8]:
def getObject(s3: boto3.client, Key, Bucket):
    response = dict()
    response['status'] = True
    response['result'] = "Successfull"
    response['data'] = None
    try:
        response['data'] = s3.get_object(Bucket=Bucket, Key=Key)
    except:
        response['status'] = True
        response['result'] = e
    return response

In [9]:
def uploadFile(s3: boto3.client, Bucket, Filename, Key):
    response = dict()
    response['status'] = True
    response['result'] = "Successfull"
    try:
        s3.upload_file(Filename=Filename, Bucket=Bucket, Key=Key)
    except Exception as e:
        response['status'] = False
        response['result'] = e
    return response

In [10]:
s3 = boto3.client(
    service_name = service_name,
    region_name = region_name,
    aws_access_key_id = aws_access_key_id,
    aws_secret_access_key = aws_secret_access_key
)

In [145]:
file = getObject(s3, 'dataset.csv', 'jsonawsbucket')

In [146]:
df=pd.read_csv(file['data']['Body'], index_col='name')

In [147]:
df.head()

,age,ptype,battingStyle,bowlingStyle,innings,runsScored,ballsFaced,50's,100's,wickets,ballsBowled,runsGiven,5's,10's,exp
name,,,,,,,,,,,,,,,
P1,39,allrounder,right hand,left hand,78,2233,2102,7,6,82,538,734,2,0,30
P2,21,allrounder,right hand,right hand,41,1335,1295,6,3,46,1386,1609,1,2,22
P3,27,bowler,left hand,left hand,41,80,94,0,0,107,3523,4369,1,7,39
P4,28,wicketkeeperbatsman,left hand,NaN,138,6405,5965,16,29,0,64,223,0,0,51
P5,19,wicketkeeperbatsman,right hand,NaN,21,788,790,2,4,3,3,8,0,0,14

In [155]:
data = df.iloc[0].to_dict()

In [156]:
import json

In [151]:
data = json.dumps(data)
data

'{"age": 39, "ptype": "allrounder", "battingStyle": "right hand", "bowlingStyle": "left hand", "innings": 78, "runsScored": 2233, "ballsFaced": 2102, "50\'s": 7, "100\'s": 6, "wickets": 82, "ballsBowled": 538, "runsGiven": 734, "5\'s": 2, "10\'s": 0, "exp": 30}'

In [160]:
with open('example.json', 'w') as f:
    json.dump(data, f, indent=4)

In [22]:
file = getObject(s3, 'data.json', 'jsonawsbucket')['Body']

In [23]:
data = file.read().decode()

In [28]:
import json
myjson = json.loads(data)
myjson

{'E1': {'name': 'Rahul', 'age': 24},
 'E2': {'name': 'Mehul', 'age': 20},
 'E3': {'name': 'Dushyant', 'age': 21}}

In [132]:
uploadFile(s3, 'jsonawsbucket', 'data.json', 'data.json')

{'status': True, 'result': 'Successful'}

In [30]:
import pandas as pd
df = pd.read_csv('./dataset.csv', index_col='name')

In [31]:
df.head()

,age,ptype,battingStyle,bowlingStyle,innings,runsScored,ballsFaced,50's,100's,wickets,ballsBowled,runsGiven,5's,10's,exp
name,,,,,,,,,,,,,,,
P1,39,allrounder,right hand,left hand,78,2233,2102,7,6,82,538,734,2,0,30
P2,21,allrounder,right hand,right hand,41,1335,1295,6,3,46,1386,1609,1,2,22
P3,27,bowler,left hand,left hand,41,80,94,0,0,107,3523,4369,1,7,39
P4,28,wicketkeeperbatsman,left hand,NaN,138,6405,5965,16,29,0,64,223,0,0,51
P5,19,wicketkeeperbatsman,right hand,NaN,21,788,790,2,4,3,3,8,0,0,14

In [17]:
df.drop(columns=["5's", "10's", "50's", "100's"], axis=1, inplace=True)
df

,age,ptype,battingStyle,bowlingStyle,innings,runsScored,ballsFaced,wickets,ballsBowled,runsGiven,exp
name,,,,,,,,,,,
P1,39,allrounder,right hand,left hand,78,2233,2102,82,538,734,30
P2,21,allrounder,right hand,right hand,41,1335,1295,46,1386,1609,22
P3,27,bowler,left hand,left hand,41,80,94,107,3523,4369,39
P4,28,wicketkeeperbatsman,left hand,NaN,138,6405,5965,0,64,223,51
P5,19,wicketkeeperbatsman,right hand,NaN,21,788,790,3,3,8,14
...,...,...,...,...,...,...,...,...,...,...,...
P19996,28,batsman,left hand,right hand,130,6234,5947,2,77,163,50
P19997,20,allrounder,right hand,right hand,1,0,0,2,30,33,0
P19998,33,allrounder,left hand,right hand,102,3074,3077,123,5209,7508,46
P19999,35,batsman,right hand,right hand,222,8883,8658,1,50,118,67
P20000,17,bowler,right hand,right hand,21,60,68,51,848,975,18

In [32]:
data = df.iloc[0].to_dict()
for k in data:
    data[k] = str(data[k])

In [33]:
data

{'age': '39',
 'ptype': 'allrounder',
 'battingStyle': 'right hand',
 'bowlingStyle': 'left hand',
 'innings': '78',
 'runsScored': '2233',
 'ballsFaced': '2102',
 "50's": '7',
 "100's": '6',
 'wickets': '82',
 'ballsBowled': '538',
 'runsGiven': '734',
 "5's": '2',
 "10's": '0',
 'exp': '30'}

In [34]:
import json
file = json.dumps(data)

In [35]:
file

'{"age": "39", "ptype": "allrounder", "battingStyle": "right hand", "bowlingStyle": "left hand", "innings": "78", "runsScored": "2233", "ballsFaced": "2102", "50\'s": "7", "100\'s": "6", "wickets": "82", "ballsBowled": "538", "runsGiven": "734", "5\'s": "2", "10\'s": "0", "exp": "30"}'

In [36]:
name = 'P1.json'
with open(name,'w') as jsonFile:
    json.dump(data, jsonFile)

In [28]:
uploadFile(s3, 'jsonawsbucket', name, 'players/'+name)

{'status': True, 'result': 'Successfull'}

In [29]:
import os
os.remove(name)

In [37]:
for index in df.index:
    print(index, df.loc[index], sep='\n\n')
    break

P1

age                     39
ptype           allrounder
battingStyle    right hand
bowlingStyle     left hand
innings                 78
runsScored            2233
ballsFaced            2102
50's                     7
100's                    6
wickets                 82
ballsBowled            538
runsGiven              734
5's                      2
10's                     0
exp                     30
Name: P1, dtype: object