In [16]:
import boto3

In [17]:
service_name = "s3"
region_name = "us-east-2"
aws_access_key_id = "AKIAU5AT5CQRYNL5DVMD"
aws_secret_access_key = "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"

In [18]:
def getBuckets(s3: boto3.client):
    return s3.list_buckets()['Buckets']

In [19]:
def getObject(s3: boto3.client, object_name, bucket_name):
    return s3.get_object(Bucket=bucket_name, Key=object_name)

In [20]:
s3 = boto3.client(
    service_name = service_name,
    region_name = region_name,
    aws_access_key_id = aws_access_key_id,
    aws_secret_access_key = aws_secret_access_key
)

In [22]:
file = getObject(s3, 'data.json', 'jsonawsbucket')['Body']

In [23]:
data = file.read().decode()

In [28]:
import json
myjson = json.loads(data)
myjson

{'E1': {'name': 'Rahul', 'age': 24},
 'E2': {'name': 'Mehul', 'age': 20},
 'E3': {'name': 'Dushyant', 'age': 21}}

In [34]:
import pandas as pd
df = pd.read_csv('./dataset.csv', index_col='name')

In [35]:
df.head()

,age,ptype,battingStyle,bowlingStyle,innings,runsScored,ballsFaced,50's,100's,wickets,ballsBowled,runsGiven,5's,10's,exp
name,,,,,,,,,,,,,,,
P1,39,allrounder,right hand,left hand,78,2233,2102,7,6,82,538,734,2,0,30
P2,21,allrounder,right hand,right hand,41,1335,1295,6,3,46,1386,1609,1,2,22
P3,27,bowler,left hand,left hand,41,80,94,0,0,107,3523,4369,1,7,39
P4,28,wicketkeeperbatsman,left hand,NaN,138,6405,5965,16,29,0,64,223,0,0,51
P5,19,wicketkeeperbatsman,right hand,NaN,21,788,790,2,4,3,3,8,0,0,14

In [46]:
data = '{' + str(dict(df.iloc[0])) + '}'

In [49]:
data = data.replace("'", '"')

In [52]:
json.loads(data)

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)